<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header id="header1"><h1>Layout</h1></header>
        <nav>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a> 
            <div class="clear"></div>
        </nav>
        <main>
            <h1>Header</h1>
            <p>Do you wanna go to the aquarium?
                I feel I lately wanna drown
                Sit down, stare out, shut up, and swim around
                Sometimes there's nothing in the sound
                I am too bold without them
                I am too cold without them
                I need friends and I want lovers
                Couldn't count on any others
                Today listen, would you come down to the garden?
                Hide away in moonflowers and the moss
                They say I am greener in my jardin
                The place I am cradled from the chaos
                I am too bold without them
                I am too cold without them
                I need friends and I want lovers
                Couldn't count on any others
                Now I am afraid of the noise
                Rattling my brain like a toy
                Excuse me while I lay here in the shade
                I can feel no pain here
                I made here just the same
                I am too bold without them
                I am too cold without them
                I need friends and I want lovers
                Couldn't count on any others</p>






        </main>
    </div>
    <footer>
        &copy;Christian Inigo &lt;marsadventurer&gt;  
    </footer>
    
</body>
</html>