h1 {color: blueviolet;}
nav {color: #ff0000;}
h4 {color: rgb(25, 0, 255);}
p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.red{color: #ff0000;}
.orange{color:burlywood}
#para1{color:gold}
.green{color: darkgreen;}
.blue{color:darkblue}
.bigger{font-size: 20pt;}
body{background-color: rgb(247, 255, 235);}