body {
    font-family: Arial, sans-serif;
    font-size: 20t;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff8c00;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    font-size: 20px;
    font-weight: bold
}

footer {
    background-color: #ff8c00;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    margin: 10px;
}

form {
    display: inline;
    flex-wrap: wrap;
    gap: 10px;
}

fieldset {
    border: 2px solid #000000;
    padding: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 10px 0
}    

.form-row label {
    width: 150px;
    text-align: right;
    margin: 0 10px;
}

legend {
    font-weight: bold;
    color: #000000;
}

input[type="text"], input[type="password"], textarea, select, input[type="email"], input[type="date"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 1px
}

@media (max-width: 600px) {
    label {
        width: 100%;
        margin-bottom: 8px;
    }

    input, textarea, select {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}