body {
    font-family: 'Courier New', Courier, monospace;
}

fieldset {
    background-color: aqua;
    border-radius: 5px;
    border: solid ;
}

legend {
    border: 2px solid rgb(12, 0, 65);
    padding: 10px;
    background-color: aquamarine;
    border-radius: 1000px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 10px 0
}

.form-row label {
    width: 150px;
    text-align: right;
    margin: 0 10px;
}

.radio-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-spacer {
    width: 170px;
    text-align: right;
}

@media ONLY screen AND (max-width:600px) {
   .form-row, .radio-row {
    flex-direction: column;
   } 
   .form-row label {
    text-align: left;
   }
}